*{
    font-family: 'Franklin Gothic Medium';
    color:white;
}
.row {
    display: flex;  
}
.col {
    flex: 1;
    background-color:rgb(56, 18, 18);
    padding: 20px;
    margin: 10px;
}
.col2{
    flex: 2;
    background-color:rgb(56, 18, 18);
    padding: 20px;
    margin: 10px;
}
.col3{
    flex: 3;
    background-color:rgb(56, 18, 18);
    padding: 20px;
    margin: 10px;
}